// The latest settings can be found here:
// https://github.com/zurb/bower-foundation/blob/master/scss/foundation/_settings.scss

$foundation-palette: (
  primary: #333,
  secondary: #333,
  success: #333,
  warning: #333,
  alert: #333
);