$brand-primary: #128a94;
$brand-secondary: #af0391;
$brand-tertiary: #670E5D;

$gradient-primary: linear-gradient(160deg, #1e99a2 0%, #0d7781 50%, #0d7781 75%, #1e99a2 100%);
$gradient-secondary: linear-gradient(160deg, #af0391 0%, #8f006d 50%, #8f006d 75%, #af0391 100%);
$gradient-tertiary: linear-gradient(160deg, #660e5d 0%, #42063a 50%, #42063a 75%, #660e5d 100%);

$pattern-primary: #f3f3f3 url("../././images/lp/bg/crackleback-lp.jpg") 0 0 repeat; // lys grå som bruges til main bg
$pattern-secondary: #cedbda url("../././images/lp/bg/top-campaign-default-background-lp.gif") 0 0 repeat; // lys grøn som bruges til rotator bg
$pattern-tertiary: url("../././images/lp/bgnav-floater-back-lp.png") repeat; // Som bruges nav og selvbetjenings bg

$logo: url("../././images/lp/bg/lpp-logo.svg");

$body-bg: $pattern-primary;

$global-radius: 10px;

$header-font-family: Lato;
$body-font-family: Lato;
